html { /*remove bounce effect on scrolling*/
    overflow: hidden;
    height: 100%;
}

body { /*remove default margin from body element*/
    margin: 0px;
}

#body-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(52, 51, 51);
}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.elements {
    margin-right: 40px;
    font-size: 96px;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #A3C4BC, 0 0 20px #A3C4BC, 0 0 25px #A3C4BC, 0 0 30px #A3C4BC, 0 0 35px #A3C4BC;
}

#pause-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100px;
    border-radius: 5px;
    background-color: white;
}

